* {
  margin: 0;
  padding: 0;
  font-family: 'Manrope', sans-serif;
}

.homepage-headline {
      font-size: 2em;
      color: white;
      background-color: black;
      padding: 20px;
      text-align: center;
}